{% extends 'base.html' %} 

{% block title %} 
{{ category.nome }} 
{% endblock title %} 

{% block content %}
    
    <section >
        <h2>{{ category.nome }} </h2>
        <p>{{ category.descricao }}</p>
    </section>

    <hr>

<section>
    <header>
        <h3>Posts da catgoria</h3>
    </header>
    <section class="posts">
        {% if category.post.all %}
        {% for post in category.post.all %}
        <article class="post-card">
            <a href="{% url 'comidas:detail' post.id %}">
            <p>{{ post.titulo }} ({{ post.data|date:"D, d M Y" }})</p>
            <img src="" alt="Poster do post {{ post.titulo}}"/>
            </a>
        </article>
        {% endfor %}
        {% else %}
            <p>Ainda não existe nenhum post nessa categoria</p>
        {% endif %}
    </section>
</section>
{% endblock content %}