{% extends 'base.html' %} 

{% block title %} 
{{ post.titulo }} ({{ post.data|date:"D, d M Y" }})
{% endblock title %} 

{% block content %}
    <h2>Detalhes do Post {{ post.titulo }} ({{ post.data|date:"D, d M Y" }})</h2>
    <section >
      <ul>
        <li>Post: {{ post.titulo }}</li>
        <li>Postado em: {{ post.data |date:"D, d M Y" }}</li>
        <li><a href="{% url 'comidas:update' post.id %}">Editar </a></li>
        <li><a href="{% url 'comidas:delete' post.id %}">Apagar </a></li>
      </ul>
      {{ post.conteudo |safe }}
    </section>
    <hr>

<section>
    <header>
        <h3>Comentários</h3>
    </header>
    <ul>
        {% if post.comment_set.all %}
            {% for comment in post.comment_set.all %}
                <figure>
                    <blockquote>
                        "{{ comment.texto }}"
                    </blockquote>
                    <figcaption>—{{ comment.autor }}  ({{comment.data|date:"D, d M Y"}})</figcaption>
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhuma comentário nesse post</p>
        {% endif %}
    </ul>

    <hr>
    <a href="{% url 'comidas:comment' post.pk %}"><button>Fazer comentário</button></a>
</section>

{% endblock content %}