{% extends 'base.html' %} 
{% block content %}
<h2>Todos os Posts</h2>

<section>
  <p>
    Muitos resultados? <a href="{% url 'comidas:search' %}">Buscar Post</a>
  </p>
  <p>
    Não encontrou o post?
    <a href="{% url 'comidas:create' %}">Adicionar Novo Post</a>
  </p>
</section>
<hr>
{% if post_list %}
<section class="posts">
  {% for post in post_list %}
  <article class="post-card">
    <a href="{% url 'comidas:detail' post.id %}">
      
      <p>{{ post.titulo }} ({{ post.data|date:"D, d M Y" }})</p>
      <img src="" alt="Poster do post {{ post.titulo}}"/>
    </a>
  </article>
  {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum post.</p>
{% endif %} 
{% endblock content %}